/* delete standart browser styles, root */
.link,
.logo,
.email,
.phone,
.phone-footer,
.email-footer,
.address,
.project-link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.list,
.menu-list {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.address-data {
  font-style: normal;
}

:root {
  --primary-font: "Roboto", sans-serif;
  --primary-text-color-theme-dark: #212121;
  --secondary-color-theme-gray: #757575;
  --primary-text-color-theme-light: #ffffff;
  --secondary-text-color-theme-dark: #000000;
  --button-color: #188ce8;
  --accent-color: #2196f3;
  --primary-background-color-theme-light: #f5f4fa;
  --secondary-background-color-theme-light: #2f303a;
  --secondary-text-color-4footer-gray: rgba(255, 255, 255, 0.6);
  --border-color-for-portfolio: #eeeeee;
  --hero-overlay: rgb(47, 48, 58, 0.4);
  --new-bg-color-hero: #c4c4c4;
  --icon-color: #afb1b8;
  --portfolio-overlay-bg: rgba(33, 150, 243, 0.9);
  --trnsform-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: var(--primary-font);
  background-color: var(--primary-text-color-theme-light);
  color: var(--primary-text-color-theme-dark);
  font-size: 14px;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.list-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ----------------header------------------ */

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navigation-header {
  display: flex;
  align-items: center;
}
.menu-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-item {
  transition: color var(--trnsform-cubic);
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--secondary-text-color-theme-dark);

  margin-right: 93px;
}
.web {
  color: var(--accent-color);
}

.link {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
  padding: 32px 0px;
}
.current {
  color: var(--accent-color);
}
.email,
.phone {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color-theme-gray);
  fill: currentColor;
  padding: 1px;
}
.email {
  margin-left: auto;
  margin-right: 50px;
}
.link,
.email,
.phone {
  transition: color var(--trnsform-cubic);
}
.link.current::after,
.link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.menu-list :hover,
.phone-footer:hover,
.email-footer:hover,
.menu-list :focus,
.phone-footer:focus,
.email-footer:focus {
  color: var(--accent-color);
}

.icon-header {
  margin-right: 10px;
  display: flex;
  fill: currentColor;
  align-items: center;
}

/* hero */

.hero-section {
  background-color: var(--new-bg-color-hero);
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;

  width: 1600px;
  background-image: linear-gradient(var(--hero-overlay), var(--hero-overlay)),
    url(../images/hero.jpg);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-light);
  background: var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  border: solid var(--accent-color);
  margin: auto;
  padding: 10px 32px;
}

/* features */

.features {
  padding-top: 94px;
}
.features-list {
  display: flex;
}
.features-li:not(:last-child) {
  margin-right: 30px;
}
.features-li {
  width: 270px;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.features-text {
  line-height: 1.71;
  color: var(--secondary-color-theme-gray);
}

.features-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  border-radius: 4px;
  background-color: var(--primary-background-color-theme-light);
  margin-bottom: 30px;
}

/* what-we-do */

.what-we-do-section {
  padding-bottom: 94px;
}
.what-we-do-title,
.our-team-title,
.our-clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}
.what-we-do-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
}
.what-we-do-card {
  position: relative;
}
.what-we-do-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

/* team */

.our-team {
  background: var(--primary-background-color-theme-light);
}
.our-team-data {
  background-color: var(--primary-text-color-theme-light);
  border-bottom: 1px solid var(--primary-text-color-theme-light);
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-div {
  padding: 30px 0;
}
.our-teammate {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-bottom: 10px;
}
.our-team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-color-theme-gray);
  margin-bottom: 16px;
}
.team-ul {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-text-color-theme-light);
  color: var(--icon-color);
  transition: color var(--trnsform-cubic),
    background-color var(--trnsform-cubic);
}
.icon-team {
  fill: currentColor;
  transition: fill var(--trnsform-cubic), background-color var(--trnsform-cubic);
}
.team-link-li :hover,
.team-link-li :focus {
  color: var(--primary-text-color-theme-light);
  background-color: var(--accent-color);
}

/* ----------------------OUR CLIENTS------------------ */

.clients-ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client-link {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid;
  color: var(--icon-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color var(--trnsform-cubic);
}
.icon-clients {
  fill: currentColor;
  transition: fill var(--trnsform-cubic);
}
.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
}
.icon-clients:hover,
.icon-clients:focus {
  fill: currentColor;
}

/* FOOTER!!! */

.footer {
  background: var(--secondary-background-color-theme-light);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  line-height: 1.71;
  color: var(--primary-text-color-theme-light);
}
.email-footer,
.phone-footer {
  line-height: 1.71;
  color: var(--secondary-text-color-4footer-gray);
  transition: color var(--trnsform-cubic);
}
.address-data {
  margin-top: 20px;
}
.addres-text:not(:last-child) {
  margin-bottom: 9px;
}
.studio-footer {
  color: var(--primary-text-color-theme-light);
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 20px;
}
.footer-ul {
  display: flex;
  justify-content: baseline;
  column-gap: 10px;
}
.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-text-color-theme-light);
  transition: color var(--trnsform-cubic),
    background-color var(--trnsform-cubic);
}
.icon-footer {
  fill: currentColor;
  transition: fill var(--trnsform-cubic), background-color var(--trnsform-cubic);
}
.footer-link-li :hover,
.footer-link-li :focus {
  color: var(--primary-text-color-theme-light);
  background-color: var(--accent-color);
}

.neigborhood {
  width: 231px;
  margin-right: 70px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-form-title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
color: var(--primary-text-color-theme-light);
margin-bottom: 20px;
text-transform: uppercase;
}
.footer-form{
 display: inline;
 
  width: 570px;
  margin-left: 93px;
}
.footer-input{
  width: 358px;
  height: 50px;
  border-radius: 4px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6) 
}
.footer-form-button{
  position: relative;
  width: 200px;
  height: 50px;
 padding-left: 8px;
 margin-left: 12px;

}
.icon-sign-up{
  position: absolute;
  margin-left: 10px;
}
.footer-form-email{
display: inline;
}
/*=========================== backdrop ============================*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 500ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-text-color-theme-light);
}
.button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/*==================================== portfolio========================= */

.portfolio-section {
  padding-top: 100px;
  padding-bottom: 88px;
}
.portfolio-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--primary-background-color-theme-light);
  cursor: pointer;
  border-radius: 4px;

  border: solid var(--primary-background-color-theme-light);
  padding: 6px 22px;
  transition: color var(--trnsform-cubic),
    background-color var(--trnsform-cubic), border var(--trnsform-cubic),
    box-shadow var(--trnsform-cubic);
}
.all {
  padding: 6px 25px;
}

.portfolio-li :hover,
.portfolio-li :focus {
  color: var(--primary-text-color-theme-light);
  background-color: var(--accent-color);
  border: solid var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-menu {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);

  margin-bottom: 4px;
}
.e-type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-color-theme-gray);
}
.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-div {
  padding: 20px 24px;
  border-left: 1px solid var(--border-color-for-portfolio);
  border-right: 1px solid var(--border-color-for-portfolio);
  border-bottom: 1px solid var(--border-color-for-portfolio);
}

.project-link {
  display: block;
  transition: box-shadow var(--trnsform-cubic);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-div-overlay {
  position: relative;
  overflow: hidden;
  margin: auto;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  transform: translateY(100%);
  transition: var(--trnsform-cubic);
  height: 100%;
  width: 100%;
  background-color: var(--portfolio-overlay-bg);

  font-size: 18px;
  line-height: 1.55;
  padding: 63px 24px;
  color: var(--primary-text-color-theme-light);
}
.project-link:hover .portfolio-overlay,
.project-link:focus .portfolio-overlay {
  transform: translateY(0%);
}
